.dialog {
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 20px;
    border: 2px black solid;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas: "field""send";
    overflow: scroll;
}

.dialog::-webkit-scrollbar {
    width: 0;
}

.write {
    grid-area: send;
    width: 90%;
    height: max-content;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

textarea {
    background: none;
    display: block;
    width: 80%;
    height: 25px;
    font-size: 18px;
    resize: none;
}


input {
    box-sizing: border-box;
    border-radius: 10%;
    float: right;
    width: 100px;
    height: 35px;
    font-size: 25px;
    background: rgb(48, 48, 48);
    color: white;
    cursor: pointer;
}

input:hover {
    background: rgb(202, 202, 202);
    color: black;
    border: none;
}