.logo img { 
    width: 50%;
  }
  .name{
    font-size: 40pt;
    color: white;
  }
  .header {
    background: rgb(73, 68, 68);
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "logo name space";
  }
  
  .header div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    grid-area: logo;
  }