.wrapper {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 200px calc(100vh - 200px);
  grid-template-areas:
    "header header"
    "nav content";
}

/* 
body{
  overflow:hidden;
} */